body {
  background-color: pink;
}

.container {
  width: 70%;
  margin: 0 auto;
}

/* Header */
header {
  text-align: center;
  margin: 0 auto;
  padding-top: 5%;
}

/* Board */
.board {
  width: 320px;
  margin: 10% auto;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;  
  gap: 5px;
  padding: 5px;
  background-color: lightblue;
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
 
  font-size: 50px;
  text-align: center;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: tomato;
  color: white;
  
}