body {
  background-color: rgb(181, 46, 69);
}

.container {
  width: 70%;
  margin: 0 auto;
}

/* Header */
header {
  text-align: center;
  margin: 0 auto;
  padding-top: 5%;

  h1 {
    color: lightblue;
    font-size: 50px;
    margin-bottom: 10px;
  }
}

/* Board */
.board {
  width: 320px;
  margin: 10% auto;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;  
  gap: 5px;
  padding: 5px;
  background-color: lightblue;
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
 
  font-size: 50px;
  text-align: center;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: tomato;
  color: white;
  
}

/* Reset */
.reset-pop-up {
  width: 40%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: lightblue;
  border: 2px solid black;
  padding: 20px;
  text-align: center;
  z-index: 10;

  h2 {
    margin-bottom: 20px;
    font-size: 30px;
    color: darkblue;
  }

  .btn {
    padding: 10px 20px;
    font-size: 20px;
    background-color: tomato;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
      background-color: darkred;
    }
  }

  &.hidden {
    display: none;
  }

  &.show {
    display: block;
  }
}